<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/navigation.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Your Basket</title>
</head>
<body>

<ul>
    <li><a href="http://localhost:8080/beverages">Beverages</a></li>
    <li><a href="http://localhost:8080/portfolio">Portfolio</a></li>
    <li><a class="active" href="http://localhost:8080/basket">Basket</a></li>
    <li><a href="http://localhost:8080/order">Order</a></li>
</ul>

<h1>Your Basket:</h1>
<h2>Bottles:</h2>
<table width="100%" class="table">
        <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="20%">Volume</th>
            <th width="20%">Volume Percent</th>
            <th width="20%">Picture</th>
            <th width="20%">Price</th>
            <th width="20%">Supplier</th>
        </tr>
        </thead>
    <!--
        <tr th:each="bottle : ${bottles}">
            <td width="20%" th:text="${bottle.getName()}"></td>
            <td width="20%" th:text="${bottle.getVolume()"></td>
            <td width="20%" th:text="${bottle.getVolumePercent()"></td>
            <td width="20%"><img width="120" th:src="${bottle.getPicture()}" alt="No picture"/></td>
            <td width="20%" th:text="${bottle.price}"></td>
            <td width="20%" th:text="${bottle.supplier}"></td>
        </tr>
        -->
        <tr th:each="item : ${sessionBasket.keySet()}">
            <td th:text="${item}"></td>

        </tr>
</table>
<h2>Crates:</h2>
<table width="100%" class="table">
    <form method="POST" th:action="@{/submitOrder}" th:object="${order}">
        <thead>
        <tr>
            <th width="20%">Name</th>
            <th width="20%">Bottle Type</th>
            <th width="20%">Number of Bottles</th>
            <th width="20%">Picture</th>
            <th width="20%">Price</th>
        </tr>
        </thead>
        <tr th:each="crate : ${crates}">
            <td width="20%" th:text="${crate.getName()}"></td>
            <td width="20%" th:text="${crate.getBottle()"></td>
            <td width="20%" th:text="${crate.getNoOfBottles()"></td>
            <td width="20%"><img width="120" th:src="${crate.getPicture()}" alt="No picture"/></td>
            <td width="20%" th:text="${crate.price}"></td>
        </tr>
        <tr>
            <td>
                <button>Submit your Order!</button>
            </td>
        </tr>
    </form>
</table>

</body>
</html>