<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/navigation.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Beverage shop</title>
</head>
<body>


<ul>
    <li><a class="active" href="http://localhost:8080/beverages">Beverages</a></li>
    <li><a href="http://localhost:8080/portfolio">Portfolio</a></li>
    <li><a href="http://localhost:8080/basket">Basket</a></li>
    <li><a href="http://localhost:8080/order">Order</a></li>

</ul>


<h1>Single Bottles</h1>
<table class="table">
    <thead>
    <tr>
        <th>Item number</th>
        <th>Name</th>
        <th>Image</th>
        <th>Volume</th>
        <th>Volume Percent</th>
        <th>Is alcoholic</th>
        <th>Price</th>
        <th>Supplier</th>
        <th>In stock</th>
        <th>Add/Remove</th>
    </tr>
    </thead>


    <tr th:each="bottle : ${bottles}">
        <td th:text="${bottle.id}"></td>
        <td th:text="${bottle.name}"></td>
        <td><img height="200" th:src="${bottle.picture}" alt="No picture"/></td>
        <td th:text="${bottle.volume}"></td>
        <td th:text="${bottle.volumePercent}"></td>
        <td th:text="${bottle.isAlcoholic}"></td>
        <td th:text="${bottle.price}"></td>
        <td th:text="${bottle.supplier}"></td>
        <td th:text="${bottle.inStock}"></td>

        <td>
            <form method="POST" th:action="@{/addToBasket}">
                <input type="hidden" th:name="id" th:value="${bottle.id}">
                <input th:name="number" id="quantity" type="number" th:value="0" th:min="1" th:max="${bottle.inStock}" min="0">
                <input type="hidden" th:name="beverageType" th:value="bottle">
                <button>Add to basket</button>
            </form>
        </td>

    </tr>
</table>

<h1>Crates</h1>
<table class="table">
    <thead>
    <tr>
        <th>Item number</th>
        <th>Name</th>
        <th>Image</th>
        <th>Bottle</th>
        <th>Number of Bottles</th>
        <th>Price</th>
        <th>In stock</th>
        <th>Add/Remove</th>

    </tr>
    </thead>
    <tr th:each="crate : ${crates}">
        <td th:text="${crate.id}"></td>
        <td th:text="${crate.name}"></td>
        <td><img height="200" th:src="${crate.picture}" alt="No picture"/></td>
        <td th:text="${crate.bottle.name}"></td>
        <td th:text="${crate.noOfBottles}"></td>
        <td th:text="${crate.price}"></td>
        <td th:text="${crate.inStock}"></td>
        <td>
            <form method="POST" th:action="@{/addToBasket}">
                <input type="hidden" th:name="id" th:value="${crate.id}">
                <input th:name="number" type="number" th:value="0" th:min="1" th:max="${crate.inStock}"  min="0">
                <input type="hidden" th:name="beverageType" th:value="crate">
                <button>Add to basket</button>
            </form>
        </td>
    </tr>

</table>

</body>
</html>