<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

    </style>
    <meta charset="UTF-8">
    <title>Beverage Online Shop</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>

<ul>
    <li><a href="http://localhost:8080/beverages">Beverages</a></li>
    <li><a href="http://localhost:8080/portfolio">Portfolio</a></li>
    <li><a href="http://localhost:8080/basket">Basket</a></li>
    <li><a class="active" href="http://localhost:8080/order">Order</a></li>
</ul>

<table class="table bg-light text-dark">
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}">
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    111ID
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Price</th>
                            <th>Position</th>
                            <th>Beverage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${orderitem.ID}">12345</td>
                            <td th:text="${orderitem.price}">1.7</td>
                            <td th:text="${orderitem.position}">4</td>
                            <td th:text="${orderitem.beverageId}">4321</td>
                        </tr>
                        </tbody>
                    </table>
                </ul>
            </div>
        </td>
        <td th:text="${order.price}">222price</td>
    </tr>
    </tbody>
</table>
</body>
</html>
