<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/navigation.css}"/>
    <meta charset="UTF-8">
    <title>Add</title>

    <script type="text/javascript">
        function buildForm() {

            if (document.getElementById("item").value == "beverage") {
                document.getElementById("bottleTable").style.display="block";
                document.getElementById("crateTable").style.display="none";
            } else {
                document.getElementById("bottleTable").style.display="none";
                document.getElementById("crateTable").style.display="block";
            }
        }

       window.onload = function () {
                buildForm();
         }
    </script>
</head>
<body>

<ul>
    <li><a class="active" href="http://localhost:8080/beverages">Beverages</a></li>
    <li><a href="http://localhost:8080/portfolio">Portfolio</a></li>
    <li><a href="#contact">Basket</a></li>
    <li><a href="#about">About</a></li>
</ul>

<label for="item">Choose an item type you want to add to the shop:</label>



<select  id="item" onclick="buildForm()">
    <option value="beverage">Beverage</option>
    <option value="crate">Crate</option>
</select>

<table  id="bottleTable">

    <form method="POST" th:action="@{/addBottle}" th:object="${bottle}" >
        <tr>
            <td>Name:</td>
            <td><input name="name" type="text" th:field="*{name}"/></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><td>
        </tr>
        <tr>
            <td>URL for picture:</td>
            <td><input name="picture" type="text" th:field="*{picture}"/></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}"></span><td>
        </tr>
        <tr>
            <td>Volume:</td>
            <td><input name="volume" type="text" th:field="*{volume}"></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}"></span><td>
        </tr>
        <tr>
            <td>Volume Percent:</td>
            <td><input name="volumePercent" type="text" th:field="*{volumePercent}"></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('volumePercent')}" th:errors="*{volumePercent}"></span><td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input name="price" type="text" th:field="*{price}"></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span><td>
        </tr>
        <tr>
            <td>Supplier:</td>
            <td><input name="supplier" type="text" th:field="*{supplier}"></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('supplier')}" th:errors="*{supplier}"></span><td>
        </tr>
        <tr>
            <td>In stock:</td>
            <td><input name="inStock" type="text" th:field="*{inStock}"></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('inStock')}" th:errors="*{inStock}"></span><td>
        </tr>
        <tr>
            <td>
                <button>Add to the shop</button>
            </td>
        </tr>
    </form>

</table>

    <table id="crateTable">
    <form method="POST" th:action="@{/addCrate}" th:object="${crate}">
        <tr>
            <td>Name:</td>
            <td><input name="name" type="text" th:field="*{name}"/></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><td>
        </tr>
        <tr>
            <td>URL for picture:</td>
            <td><input name="picture" type="text" th:field="*{picture}"/></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}"></span><td>
        </tr>
        <tr>
            <td>Number of Bottles:</td>
            <td><input name="noOfBottles" type="text" th:field="*{noOfBottles}">
            <td><span class="text-danger" th:if="${#fields.hasErrors('noOfBottles')}" th:errors="*{noOfBottles}"></span><td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input name="price" type="text" th:field="*{price}"></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span><td>
        </tr>
        <tr>
            <td>In stock:</td>
            <td><input name="inStock" type="text" th:field="*{inStock}"></td>
            <td><span class="text-danger" th:if="${#fields.hasErrors('inStock')}" th:errors="*{inStock}"></span><td>
        </tr>
        <tr>
            <td>
                <button>Add to the shop</button>
            </td>
        </tr>
    </form>
</table>


<div th:if="${#request.getParameter('type') != null}">
    <script>
        function crate() {
            document.getElementById("item").selectedIndex = "1";
           // window.history.replaceState({}, document.title, "/" + "portfolio");

        }
        crate();
    </script>
</div>

</body>
</html>



