<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>

<table class="table">


<label for="item">Choose an item type you want to add to the shop:</label>

<select name="item" id="item">
    <option value="beverage">Beverage</option>
    <option value="crate">Crate</option>
</select>

<form method="POST" th:action="@{/portfolio}" th:object="${bottle}">
    <tr> <td>Name             <input name="name" type="text"></td>                           </tr>
    <tr> <td>URL for picture: <input name="bottlePic" type="text"/></td>                     </tr>
    <tr> <td>Volume           <input name="volume" type="text"></td>                         </tr>
    <tr> <td>Volume percent   <input name="volumePercent" type="number"></td>                </tr>
    <tr> <td>Price            <input name="price" type="number"></td>                        </tr>
    <tr> <td>Supplier         <input name="supplier" type="text"></td>                       </tr>
    <tr> <td>In stock         <input name="inStock" type="number"></td>                      </tr>
    <tr> <td>Is alcoholic     <input name="isAlcoholic" type="checkbox"></td>                </tr>

    <tr><td><button>Add to the shop</button></td></tr>
</form>

</table>
</body>
</html>



